.ecs .ecs-pagination {
	display: flex;
	-ms-flex-pack: center ;
	justify-content: center;
	margin:1em;
}
.ecs .ecs-pagination .ecs-pag {
	background: #FFF;
	border:1px solid #EFEFEF;
	margin:0 .15em;
	padding:.20em .45em;
	color:#666;
	border-color:#cecece;
	transition: .2s ease-out;
	cursor: pointer;
}
.ecs .ecs-pagination .ecs-pag:hover {
    background-color: #EFEFEF;
    color: #000;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.18), 0 2px 5px 0 rgba(0,0,0,0.15);
	z-index: 2;
}

.ecs .ecs-pagination .ecs-disable {
	color:#AAA;
	border-color:#EFEFEF;
	cursor: initial;
}
.ecs .ecs-pagination .ecs-disable:hover {
	box-shadow: none;
	color:#AAA;
	background-color:#FFF;
}

.ecs .ecs-pagination .ecs-active, .ecs .ecs-pagination a.ecs-active,
.ecs .ecs-pagination .ecs-active:hover, .ecs .ecs-pagination a.ecs-active:hover  {
	color: #046359;
	background: #e5f5f3;
	border-color:#5ebdb4;
	box-shadow: none;
	cursor:initial;
}