/** RESET 
* License: none (public domain)
*/
 
.ecs, .ecs *, ::after, ::before {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    color : inherit;
    background:transparent;
}
.ecs b, .ecs strong {font-weight: bold}
.ecs i, .ecs em {font-style: italic }

 .ecs button,  .ecs input {
    overflow: visible;
}
 .ecs button,  .ecs input,  .ecs optgroup,  .ecs select, .ecs textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
th {
    font-weight: inherit;
    text-align: inherit;
}
.ecs article, .ecs aside, .ecs details, .ecs figcaption, .ecs figure,
.ecs footer, .ecs header, .ecs hgroup, .ecs menu, .ecs nav, .ecs section {
    display: block;
    color : inherit;
    background:transparent;
}
 .ecs, .ecs ol, .ecs ul {
	list-style: none;
}
 .ecs, .ecs blockquote, .ecs q {
	quotes: none;
}
 .ecs:before, .ecs:after, .ecs blockquote:before, .ecs blockquote:after,
 .ecs q:before, .ecs q:after {
	content: '';
	content: none;
}
 .ecs table {
	border-collapse: collapse;
	border-spacing: 0;
}

.ecs svg {width:1em; height:1em}