@import url('https://fonts.googleapis.com/css?family=Roboto');

.ecs-content {
	font-family: "Roboto", sans-serif;
}
.ecs-content pre, .ecs-pre {
	background: #f3f3f7;
	border: 1px solid #dedee3;
	padding: 1em;
	font-size: 1em;
	line-height: 1.4em;
	overflow: auto;
}
.ecs-content code, .ecs-code {
	font-weight: inherit;
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap !important;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.ecs-content  h1, .ecs-h1, .ecs-content  h2, .ecs-h2, .ecs-content  h3, .ecs-h3, .ecs-content  h4, .ecs-h4, .ecs-content  h5, .ecs-h5  {
	border-bottom: 1px solid #dadada;
	padding-bottom: .2em;
	font-weight: normal;
	margin-top: .5em;
	margin-bottom: .5em;
	line-height: 1em;
}
.ecs-content  h1, .ecs-h1 {	font-size: 4em; }
.ecs-content h2, .ecs-h2 {	font-size: 3em; }
.ecs-content h3, .ecs-h3 {	font-size: 2.2em; }
.ecs-content h4, .ecs-h4 {	font-size: 1.6em; }
.ecs-content h5, .ecs-h5 { font-size: 1.2em; }

.ecs-content p, .ecs-p {
    color: rgba(0,0,0,0.71);
    padding: 0;
	-webkit-font-smoothing: antialiased;
	margin:.5em 0;
}

.ecs-center {text-align:center;}

.ecs-content a, .ecs-link {
	position: relative;
    text-decoration: none;
    transition: .2s ease-out;
    cursor: pointer;
    border: none;
    border-radius: 2px;
	display: inline;
	border-bottom:thin solid #EEE;
    padding: 0 .2em;
	background-color: #F8F8F8;
    color:#666;
}
.ecs-content a:hover, .ecs-link:hover {
	background-color: #EFEFEF;
	color:#000;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.18), 0 2px 5px 0 rgba(0,0,0,0.15);
	z-index: 2;
}