.ecs-size-big			{font-size:1.4rem;}
.ecs-size-default 		{font-size:1rem;}
.ecs-size-small 		{font-size:.75rem;}

.ecs-vw-big			{font-size:1.4vw;}
.ecs-vw-default 	{font-size:1vw;}
.ecs-vw-small 		{font-size:.75vw;}

.ecs-pull-right 		{float:right !important;}
.ecs-pull-left 			{float:left !important;}
.ecs-color-primary 		{color:#26a69a;}
.ecs-color-secondary 	{color:#3697ff;}
.ecs-bg-primary 		{background-color:#26a69a;}
.ecs-bg-secondary 		{background-color:#3697ff;}
.ecs-clearfix::after { content: ""; display: block; clear: both; }
.ecs-m1 { margin:1em}
.ecs-m2 { margin:2em}
.ecs-m3 { margin:3em}
.ecs-m4 { margin:4em}
.ecs-mt1 { margin-top:2em}
.ecs-mt2 { margin-top:4em}
.ecs-mt3 { margin-top:3em}
.ecs-mt4 { margin-top:4em}
.ecs-ml1 { margin-left:1em}
.ecs-ml2 { margin-left:2em}
.ecs-ml3 { margin-left:3em}
.ecs-ml4 { margin-left:4em}
.ecs-mb1 { margin-bottom:1em}
.ecs-mb2 { margin-bottom:2em}
.ecs-mb3 { margin-bottom:3em}
.ecs-mb4 { margin-bottom:4em}
.ecs-mr1 { margin-right:1em}
.ecs-mr2 { margin-right:2em}
.ecs-mr3 { margin-right:3em}
.ecs-mr4 { margin-right:4em}

.ecs-b1 { padding:1em}
.ecs-b2 { padding:2em}
.ecs-b3 { padding:3em}
.ecs-b4 { padding:4em}
.ecs-bt1 { padding-top:1em}
.ecs-bt2 { padding-top:2em}
.ecs-bt3 { padding-top:3em}
.ecs-bt4 { padding-top:4em}
.ecs-bl1 { padding-left:1em}
.ecs-bl2 { padding-left:2em}
.ecs-bl3 { padding-left:3em}
.ecs-bl4 { padding-left:4em}
.ecs-bb1 { padding-bottom:1em}
.ecs-bb2 { padding-bottom:2em}
.ecs-bb3 { padding-bottom:3em}
.ecs-bb4 { padding-bottom:4em}
.ecs-br1 { padding-right:1em}
.ecs-br2 { padding-right:2em}
.ecs-br3 { padding-right:3em}
.ecs-br4 { padding-right:4em}

@media only screen and (max-width: 640px) {
	.ecs-hide-cell {display:none !important;}
}
@media only screen and (min-width: 641px) {
	.ecs-only-cell {display:none !important;}
}

